<html lang="en">
<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>E-mail Sender</title>
</head>

<body style="background-color: rgb(17, 20, 53);">

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-brand">E-mail Sender</div>
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-envelope"></i> Send Mail</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'email' %}"><i class="fas fa-envelope"></i> Send Mail to One User</a></li>
                                <li><a class="dropdown-item" href="{% url 'mailall' %}"><i class="fas fa-envelope"></i> Send Mail to All Users</a></li>
                            </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adduser' %}"><i class="fas fa-user-plus"></i> Add People</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'display' %}"><i class="fas fa-users"></i> Show All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container pt-3">
        <div class="row">
            <div class="card card-body">     
                <center><h3>Send E-mail to One User</h3></center>            
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="recipient_email">Recipient Email:</label>
                    <input type="email" name="recipient_email" class="form-control" required>
                    <br>
                    <label for="subject">Subject:</label>
                    <input type="text" name="subject" class="form-control" required>
                    <br>
                    <label for="message">Message:</label>
                    <textarea type="textarea"  name="message" class="form-control" style="height: 200px;"></textarea>
                    <br>
                    <label for="file">File:</label>
                    <input type="file" name="file" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>